@charset "utf-8";
/* CSS Document */

*{margin:0px; padding:0px;}

body{background-image:url(IMG/fondo.jpg);
	 background-size:100% 100%;
	 background-attachment:fixed;
	}

#contenedor{width:100%; height:100%; position:absolute;}

#contenedorEncabezado{width:100%;
        height:82px;
		box-shadow:1px 1px 3px #CCC;
		overflor:hidden;
		}
		

#nombreG{width:420px;
		height:80px;
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		text-shadow: 2px 2px 4px #333;
		font-size:40px;
		padding-top:8px;
		color:#fff;
		margin-left:3px;
	    /*-webkit-animation-name:animacionTexto;
	    -webkit-animation-duration:3s;
	    -webkit-animation-iteration-count:1;*/
		float:left;
        }
		
#nombreG:hover{color:#666;
		      transition:all 1s;
              }
		
@-webkit-keyframes animacionTexto{
	from
	{margin-top:-80px;
	}
	
	to{margin-top:0px;
	  }
}
		
#logo{width:78px;
	  height:76px;
	  background-image:url(IMG/fondobd.png);
	  background-size:100% 85%;
	  background-position:center center;
	  background-repeat:no-repeat;
	  border-radius:50%;
	  border:2px solid #ccc;
	  cursor:pointer;
	  margin-left:10px;
	 /* -webkit-animation-name:animacionLogo;
	  -webkit-animation-duration:3s;
	  -webkit-animation-iteration-count:1;
      -webkit-animation-timing-function:ease-out;*/
	  float:left;
	  }
	  
#logo:hover{background-color:#ccc;
			transition:all 1s;
            }
			
@-webkit-keyframes animacionLogo{
	50%
	{background-color:#ccc;
	}
	  
	90%{background-color:#333;
	  }
}
	  
#CajaMenus{ height:80px; float:right;}

#CajaMenus #Padre {list-style:none; overflow:hidden;
	}
	
#CajaMenus #Padre li{float:left;
			}
			

/*#CajaMenus ul li a{*/
#CajaMenus ul li a{
			  text-align:left;
			  display:block;
			  font-family:Tw Cen MT, Geneva, sans-serif;
			  font-size:30px;
			  text-decoration:none;
			  color:rgb(0,128,178);
			  color:#fff;
			  padding:25px 0px 25px 30px;
			  transition:all .4s;
			  padding-right:20px;
			  width:100px;
			 }
			 
#CajaMenus ul li a:hover{color:#fff; text-decoration:underline; }
/*
.Hijo{display:none;  overflow:hidden; width:150px; background-color:#fff; transition:all .4s;  border:1px solid #ccc;
}
*/

.Hijo, .Hijo2, .Hijo3, .Hijo4{display:none; overflow:hidden;  transition:all .4s; position:absolute; 			  
border:1px solid #ccc; 			
}

.Hijo2{margin-left:-150px;}

.Hijo3{margin-left:-300px;}

.Hijo4{margin-left:-350px;}

ul li:hover ul{display:block; 
               }

.liHijo{ 
	}

#CajaMenus ul li ul li a { padding:6px 0px; font-size:24px;  background-color:#fff;  height:44px; 
						   text-align:center; z-index:10;
						  }

.liga:hover{color:pink;}

	   
ul{list-style:none;}

.imagen1, .imagen2, .imagen3, .imagen4, .imagen5{ background-repeat:no-repeat; background-position:left center; background-size:30px 30px;}

.imagen1{background-image:url(IMG/cliente.png);}

.imagen2{background-image:url(IMG/consulta.png);}

.imagen3{background-image:url(IMG/emple.png);}

.imagen4{background-image:url(IMG/empleados.png);}

.imagen5{background-image:url(IMG/cerrar.png);}

#mensaje{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		text-shadow: 2px 2px 4px #333;
		font-size:75px;
		padding-top:8px;
		color:rgb(0,128,178);
		text-align:center;	
	}


	    #Izquierda a{color:purple;
					 padding:20px 0px;
					 font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
					 font-size:30px;
					 text-align:center;
					 text-decoration:none;
					 display:block;
					}
	    #Izquierda a:hover{background-color:purple; color:#fff;}
		
		#Derecha{color:purple;
				 font-size:18px;
				 font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
				 
         #Derecha input, #Derecha select{background-color:#fff;	
		 				color:purple;
						font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
						padding:3px 0px;
						}