@charset "utf-8";
/* CSS Document */

button{
	/*width: 40px;
	height: 20px;*/
	 width: 80px;
	height: 40px;
	border: 0;
	border-radius: 5px;
}
.libre{
/*background:#E6FFFE;*/
	background:#8BFC91;
}
.ocupado{
/*	background: #FAB4C9;*/
	background:#F25559;
}
tr.calendario{
	background-color: blue;
	color: #FFF;
	height: 50px;
	border-radius: 5px;
}
caption.mes{
	color:#FFF;
	background-color: blue;
	size: 20px;
}
#botonp{
	/*background-color:#36F;*/
	background-color:transparent;
	border-style:none;
}
td
.P{
	background: #8BFC91;
}

.A{
	background: #C1CCFF;/*Azul*/
	/*background:#FF9F40;/*Naranja*/
}
.D{
	background: #C1CCFF;/*Azul*/
}

/* .horario{
	background: #C1CCFF;
}
 */
 .izquierda{
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border: 0px solid #000000;
}
.derecha{
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border: 0px solid #000000;
}
table.horario{
	border-spacing: 0px;
	}